<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch999.express.admin.mapper.ExpressOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch999.express.admin.entity.ExpressOrder">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="address" property="address" />
        <result column="express_info" property="expressInfo" />
        <result column="handle_state" property="handleState" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getOrderList" resultMap="BaseResultMap">
        select * from express_order where handle_state = 1 and del_flag = 0
        <if test=" userId != null">
            and create_user = #{userId}
        </if>
        order by create_time desc
    </select>

    <select id="getUserOrderList" resultMap="BaseResultMap">
        select id,handle_state,express_info from express_order where create_user = #{userId} and del_flag = 0
        and handle_state = #{state}
    </select>

    <select id="selectUserPickUp" resultType="com.ch999.express.admin.vo.UserPickUpVO">
SELECT
eo.id as orderId,
eo.express_info as expressInfo,
eu.userId,
case
when
eu.complete_flag = 0
then '未完成'
else '已完成'
end as completeFlag
from
express_order eo
left join
(
SELECT
	express_order_id,
	userId,
  complete_flag
FROM
	express_user
WHERE
	userId = #{userId}
	AND del_flag = 0
) eu on eo.id = eu.express_order_id where userId is not null
and complete_flag = #{state}
    </select>
</mapper>
