<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch999.express.admin.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch999.express.admin.entity.UserInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="student_number" property="studentNumber" />
        <result column="avatar" property="avatar" />
        <result column="pwd" property="pwd" />
        <result column="mobil" property="mobil" />
        <result column="authentication_flag" property="authenticationFlag" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="selectCenterInfo" resultType="com.ch999.express.admin.vo.CenterInfoMapperVO">
     SELECT
	np.userId,
	np.notPay,
	noo.noOrder,
	ts.transport,
	nc.notComment,
	c.complete as complete1,
	euc.noComplete,
	ec.complete as complete2
FROM
	( SELECT count( 1 ) AS notPay, #{userId} AS userId FROM express_order WHERE create_user = #{userId} AND handle_state = 0 and del_flag = 0) np
	LEFT JOIN ( SELECT count( 1 ) AS noOrder, #{userId} AS userId FROM express_order WHERE create_user = #{userId} AND handle_state = 1 and del_flag = 0) noo ON noo.userId = np.userId
	LEFT JOIN ( SELECT count( 1 ) AS transport, #{userId} AS userId FROM express_order WHERE create_user = #{userId} AND handle_state = 2 and del_flag = 0) ts ON ts.userId = np.userId
	LEFT JOIN ( SELECT count( 1 ) AS notComment, #{userId} AS userId FROM express_order WHERE create_user = #{userId} AND handle_state = 3 and del_flag = 0) nc ON nc.userId = np.userId
	LEFT JOIN ( SELECT count( 1 ) AS complete, #{userId} AS userId FROM express_order WHERE create_user = #{userId} AND handle_state = 4 and del_flag = 0) c ON c.userId = np.userId
	left join ( select count(1) as noComplete, #{userId} as userId from express_user where userId = #{userId} and complete_flag = 0 and del_flag = 0 ) euc on euc.userId = np.userId
	left join ( select count(1) as complete, #{userId} as userId from express_user where userId = #{userId} and complete_flag = 1 and del_flag = 0 ) ec on ec.userId = np.userId
    </select>

</mapper>
